.section {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

.section:nth-child(1) {
  background-color: #ff69b4;
}

.section:nth-child(2) {
  background-color: #33cc33;
}

.section:nth-child(3) {
  background-color: #6666ff;
}
